/*varibles*/
.display, #restaurants .card, #howcontainer, #area h4, #area, header, .lds-dual-ring, .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 225px;
  height: 50px;
  color: white;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(#ff79da, #9356dc);
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.6), 0 8px 8px 0 rgba(0, 0, 0, 0.6);
  opacity: 0.8;
}

/*loading spinner cant get it to collaspe or have the body behind it */
#ring-container {
  display: flex;
  position: absolute;
}

.lds-dual-ring {
  width: 100vw;
  height: 100vh;
}

.lds-dual-ring:after {
  content: " ";
  position: absolute;
  width: 64px;
  height: 64px;
  margin: auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #9356dc #ff79da;
  animation: lds-dual-ring 8s infinite;
  animation-iteration-count: 1;
  visibility: hidden;
  z-index: 0;
}

@keyframes lds-dual-ring {
  0% {
    visibility: visible;
    z-index: 999;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}
.new-item {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #00e2d0;
  color: #007c72;
  height: 30px;
  width: 80px;
  border-radius: 5px;
}
.new-item h4 {
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 6px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

header {
  margin: 20px auto;
}
header img {
  height: 30px;
  width: 170px;
}
header a {
  position: relative;
  right: 65px;
}

#area {
  background: lightgray;
}
#area h4 {
  margin-left: 10px;
  font-size: 18px;
}

#Explore {
  display: flex;
  align-items: center;
  background: rgba(238, 235, 235, 0.852);
  height: 285px;
  flex-direction: column;
}
#Explore h1 {
  padding-top: 20px;
}
#Explore p {
  padding: 0px 20px;
  text-align: center;
}

#howcontainer {
  flex-direction: column;
  height: 440px;
  justify-content: space-between;
  margin-bottom: 40px;
}
#howcontainer div {
  display: flex;
  width: 330px;
  height: 80px;
  background: #f2f2f2;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#howcontainer div a {
  display: flex;
  align-items: center;
  padding-left: 30px;
}
#howcontainer div a .number {
  background: #9356dc;
  border-radius: 20px 20px;
  padding: 0px 5px;
  margin-right: 20px;
  left: 13px;
  display: block;
  position: absolute;
}

#restaurants {
  height: 1230px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 100px;
}
#restaurants h1 {
  padding: 20px 0PX 0px 20px;
}
#restaurants .card {
  width: 335px;
  height: 250px;
  background: white;
  margin: 25px auto;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  gap: 10px;
}
#restaurants .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 335px;
  height: 175px;
  border-radius: 10px 10px 0px 0px;
}
#restaurants .card .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
}
#restaurants .card h2 {
  margin: 10px 0px;
}
#restaurants .card .city {
  font-weight: 300;
  padding-bottom: 20px;
}
#restaurants .card .likecontainer {
  font-size: 28px;
  padding-bottom: 30px;
}

.like {
  opacity: 0;
  position: absolute;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.holder :hover .like {
  opacity: 1;
  transition: opacity 2s;
}

.holder :hover .heart {
  opacity: 0;
  transition: opacity 2s;
}

footer {
  background-color: #353535;
  height: 195px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
}
footer img {
  height: 20px;
  width: 100px;
  margin-left: 20px;
  filter: invert(100%);
}
footer a {
  height: 26px;
  margin-left: 20px;
  filter: invert(100%);
}

.cover {
  height: 240px;
}
.cover img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  position: relative;
  background: lightgrey;
  z-index: 1;
  border-radius: 30px 30px 0px 0px;
  padding: 30px 0px 10px 13px;
}
.menu .btn {
  margin: 50px 64px;
}

h1 {
  display: flex;
  justify-content: space-between;
  margin: 2px 50px 25px 15px;
  font-family: shrikhand;
}

.underline {
  width: 40px;
  padding-bottom: 3px;
  background-color: #00e2d0;
  margin-left: 15px;
}

h3 {
  margin-left: 15px;
  margin-bottom: 4px;
}

.foods {
  background: white;
  height: 70px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: 0.2s ease-in-out both fade-in;
}
.foods div {
  margin: auto 0px;
}
.foods .okay {
  overflow: hidden;
}
.foods h3, .foods h5 {
  margin: 5px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.foods p {
  margin-bottom: -20px;
  padding-right: 20px;
}

/*animation for menu items loadind*/
.foods:nth-child(1) {
  animation-delay: 0.3s;
}

.foods:nth-child(2) {
  animation-delay: 0.6s;
}

.foods:nth-child(3) {
  animation-delay: 0.9s;
}

.foods:nth-child(4) {
  animation-delay: 1.2s;
}

.foods:nth-child(5) {
  animation-delay: 1.5s;
}

.foods:nth-child(6) {
  animation-delay: 1.8s;
}

.foods:nth-child(7) {
  animation-delay: 2.1s;
}

.foods:nth-child(8) {
  animation-delay: 2.4s;
}

.foods:nth-child(9) {
  animation-delay: 2.7s;
}

.foods:nth-child(10) {
  animation-delay: 3s;
}

.foods:nth-child(11) {
  animation-delay: 3.3s;
}

.foods:nth-child(12) {
  animation-delay: 3.6s;
}

.foods:nth-child(13) {
  animation-delay: 3.9s;
}

.foods:nth-child(14) {
  animation-delay: 4.2s;
}

.foods:nth-child(15) {
  animation-delay: 4.5s;
}

.foods:nth-child(16) {
  animation-delay: 4.8s;
}

.foods:nth-child(17) {
  animation-delay: 5.1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*animations for restaurants loading*/
.card {
  animation: 0.5s ease-in-out both fade-in;
}

.card:nth-child(2) {
  animation-delay: 1.6s;
}

.card:nth-child(3) {
  animation-delay: 2.4s;
}

.card:nth-child(4) {
  animation-delay: 3.2s;
}

.card:nth-child(5) {
  animation-delay: 4s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*animation for the menu items hover over*/
.foods .pricecontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foods .tick {
  background: #00e2d0;
  transition: width 300ms ease-in-out;
  width: 0px;
  height: 70px;
  overflow: hidden;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foods i {
  transform: rotate(-360deg);
  transition: transform 300ms ease-in-out;
  overflow: hidden;
  padding-left: 5px;
  filter: invert(100%);
  font-size: 26px;
}

.foods:hover {
  cursor: pointer;
}
.foods:hover .tick {
  width: 70px;
  visibility: visible;
}
.foods:hover i {
  transform: rotate(0deg);
}/*# sourceMappingURL=Main.css.map */