$primary-color:#9356dc;
$secondary-color:#ff79da;
$teritory-color:#00e2d0;
$titles-font-fam:shrikhand;

$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
$shadow2: 0 6px 4px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.19);;

.display{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button {
    @extend.display;
    width: 225px;
    height: 50px;
    color: white;
    border-radius: 30px;
    box-shadow: $shadow;
    background-image: linear-gradient($secondary-color,$primary-color);

}

.btn{
    @include button;
}

#ring-container{
    display: flex;
    position: absolute;
}

.lds-dual-ring {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;


  
  }
  .lds-dual-ring:after {
    content: " ";
    position: absolute;
    width: 64px;
    height: 64px;
    margin: auto;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: $primary-color $secondary-color;
    animation: lds-dual-ring 8s infinite ;
    animation-iteration-count: 1;
    visibility: hidden;
    z-index: 0;
    
  }
  @keyframes lds-dual-ring {
    0% {
        visibility: visible;
        z-index: 999;
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(3600deg);
      
      
     
    
  }}

.new-item {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: $teritory-color;
    color: darken($teritory-color, 20%);
    height: 30px;
    width: 80px;
    border-radius: 5px;
    h4{
        display: flex;
        margin: auto;
        justify-content: center;
        padding-top: 6px;
    }
  }

a{
    text-decoration: none;
    color: black;
}

body{ margin: 0px;
    font-family: 'Roboto', sans-serif;

}
.display{
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
  @extend .display;
   margin: 20px auto;
 img{
    height: 30px;
    width: 170px;
}
    a{
        position:relative;
        right:65px;
    }}

#area{
    @extend.display;
    background: lightgray;
       h4{
        @extend.display;
        margin-left: 10px;
        font-size: 18px;
    }
}

#Explore{
    display: flex;
    align-items: center;
    background: rgba(238, 235, 235, 0.852);
    height: 285px;
    flex-direction: column;
        h1{
             padding-top: 20px;}
        
        p{
            padding: 0px 20px;
            text-align: center;
        }

       .btn{
        @include button;
    }
       
        :hover{
            box-shadow: $shadow2;
            opacity: 0.8
        }
    }

#howcontainer{
    @extend .display;
    flex-direction: column;
    height: 440px;
    justify-content: space-between;
    margin-bottom: 40px;
    div{
       display: flex;
    
        width: 330px;
        height:80px;
        background: #f2f2f2;
        border-radius: 20px;
        box-shadow:$shadow;
        a{
            display:flex;
            align-items:center;
            padding-left: 30px;
            .number{
                background: $primary-color;
                border-radius: 20px 20px;
                padding:0px 5px;
                margin-right: 20px;
                left: 13px;
                display: block;
                position: absolute;
            }
            }
        }
    }

#restaurants{
    height: 1230px;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;
    h1{
        padding:20px 0PX 0px 20px;
    }


    .card{
    @extend .display;
    width: 335px;
    height:250px;
    background: white;
    margin: 25px auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: $shadow;
    gap: 10px;

    img{
        object-fit: cover;
        width: 335px;
        height:175px;
        border-radius: 10px 10px 0px 0px;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:0px 20px;
}
    h2{
        margin: 10px 0px
    }
    .city{
        font-weight: 300;
        padding-bottom: 20px;
    }
    .likecontainer{
        font-size: 28px;
        padding-bottom:30px;
        
          
        }
        }
        }

       
        .like{
            opacity: 0;
            position: absolute;
            background: linear-gradient(#ff79da, #9356dc);
            background-clip: text;
            color:  transparent;  
        }
        .holder{
            :hover{
            .like{
                opacity: 1;
                transition: opacity 2s;
            }
            }
            }
            .holder{
                :hover{
                .heart{
                    opacity: 0;
                    transition: opacity 2s;
                }
                }
                }


    

footer{
    background-color: #353535;
    height:195px;
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    img{
        height:20px;
        width:100px;
        margin-left: 20px;
        filter: invert(100%);
    }
    a{
        height:26px;
        margin-left: 20px;
        filter: invert(100%);
    }

}

//menus additonal CSS//

.cover{
    height: 240px;
   
    img{
        width: 100%;
        height: 270px;
        object-fit: cover;
       
    }
}
    .menu{
        position: relative;
        background: lightgrey;
        z-index: 1;
        border-radius: 30px 30px 0px 0px;
        padding: 30px 0px 10px 13px;
        .btn{
            margin: 50px 64px;
            
        }
            h1{
            display: flex;
            justify-content: space-between;
            margin: 2px 50px 25px 15px;
            font-family:$titles-font-fam
            }
            .underline{
                width: 40px;
                padding-bottom:3px;
                background-color: $teritory-color;
                margin-left:15px;
            }

            h3{
                margin-left: 15px;
                margin-bottom:4px;
            }
        
        
            .foods{
            background: white;
            height: 70px;
            width: 350px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 15px 0px;
            box-shadow: $shadow;
        div{
            margin: auto 0px;
            
        }
        .okay{
         
            overflow: hidden;
            
        }
             h3{
            margin: 5px 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            }
            h5{
            margin: 5px 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p{
           margin-bottom:-20px; 
           padding-right: 20px;       }
    }
}


        
            
                
                
            
        




.foods{
    animation: .2s ease-in-out both fade-in;
  }
  @for $i from 1 through 14 {
    .foods {
      &:nth-child(#{$i}) {
        animation-delay: $i * (.3s);
      }
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  

  
  .card{
    animation: .5s ease-in-out both fade-in;
  }
  @for $i from 2 through 5 {
    .card {
      &:nth-child(#{$i}) {
        animation-delay: $i * (.8s);
      }
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }



    .foods{
        .pricecontainer{
            display: flex;
            align-items: center;
            justify-content: space-between;}
            .tick{
                
                background: $teritory-color;
                transition: width 300ms ease-in-out;
                width: 0px;
                height:70px;
                overflow: hidden;
                border-radius: 0px 10px 10px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            i{
                transform: rotate(-360deg);
                transition: transform 300ms ease-in-out;
                overflow: hidden;
                padding-left: 5px;
                filter: invert(100%);
                font-size: 26px;
                }
                }
    
    .foods:hover{
        
        cursor: pointer;
        .tick{
            width: 70px;
            visibility: visible;   
        }
        i{
            transform: rotate(0deg);
        }
        }