$primary-color:#9356dc;
$secondary-color:#ff79da;
$teritory-color:#00e2d0;

.filled{
    opacity: 0;
    background: linear-gradient(#ff79da, #9356dc);
    background-clip: text;
    color:  transparent;  

}

.holder{
    :hover
    .filled{
        position: absolute;
        left: 8px;
    }
}

.holder{
    :hover{
    .filled{
        opacity: 1;
        
        transition: opacity 3s;
        
    }
    }
    }
    .holder{
        :hover{
        .open{
            opacity: 0;
        }
        }
        }

       

        .foods{
            background:red;
            display:flex;
            align-items: center;
            justify-content: space-between;
            .pricecontainer{
                display: flex;
                align-items: center;
                justify-content: space-between;}
                .tick{
                    padding: 20px;
                    background: blue;
                    transition: width 3000ms;
                    width: 0px;
                    opacity: 0;
                   
                }
            }
           
        
        .foods:hover{
            
            cursor: pointer;
            .tick{
                width: 300px;
                visibility: visible;
                opacity: 1;
            }
        }